* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --success-color: #28a745;
    --danger-ciolr: #dc3545;
}